<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Agentes
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <td>Nombre</td>
                                <td>Cargo</td>
                                <td>Correo Electrónico</td>
                                <td>No de Tickets</td>
                                <td>Acciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% if @agents.count == 0 %>
                            <tr>
                                <td colspan="4">No hay registros que mostrar</td>
                            </tr>
                            <% else
                                for agent in @agents %>
                                <tr>
                                    <td><%= agent.full_name %></td>
                                    <td><%= agent.appointment.name%></td>
                                    <td><%= agent.email_account %></td>
                                    <td><%= agent.no_tickets %></td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="<%=url_for controller: "agent", action: "edit", id: agent.id %>" class="btn btn-default" title="Editar" rel="tooltip"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a href="<%=url_for controller: "agent", action: "delete", id: agent.id %>" class="btn btn-default" title="Eliminar" rel="tooltip"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            <% end 
                            end%>
                        </tbody>
                    </table>
                </section>
                <div class="col-lg-12">
                    <% if @agents.count > 0 %>
                        <%= pagination_tag @pagination, "agent", "index" %>
                    <% end %>
                </div>
                <a href="#myModal-1" data-toggle="modal" class="btn btn-info">
                    Nuevo Agente
                </a>
                <%= render :partial => "new" %>
            </div>
        </section>
    </div>
</div>