<% if @schedule %>
<%= render :partial => "shared/message" %>
<table class="table table-hover" id="activities">
	<thead>
		<tr class="success">
			<td>Actividad</td>
			<td>Fecha de Inicio</td>
			<td>Fecha de Fin</td>
			<td>Tiempo</td>
			<td>Comentarios</td>
		</tr>
	</thead>
	<tbody>
        <tr class="no-records">
            <td colspan="4">A&uacute;n no se han agregado actividades al cronograma</td>
        </tr>
	</tbody>
</table>
<%= form_tag url_for(:controller => :schedule, :action => :add_activity), method: 'post', class: 'form-horizontal', role: 'form', 'data-ajax' => 'true', 'data-success' => 'after_save' do %>
    <fieldset>
        <legend>Nueva Actividad</legend>
    	<div class="form-group">
            <label for="first_name" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
            	<%= text_field_tag 'name',nil, class: 'form-control', placeholder: 'Nombre' %>
            </div>
        </div>
        <div class="form-group">
            <label for="first_name" class="col-sm-2 control-label">Comentarios</label>
            <div class="col-sm-10">
                <%= text_area 'description',nil, class: 'form-control', placeholder: 'Comentarios' %>
            </div>
        </div>
        <div class="form-group">
            <label for="start_date" class="col-sm-2 control-label">Inicia</label>
            <div class="col-sm-10">
            	<%= date_picker_tag 'start_date', nil %>
            </div>
        </div>
        <div class="form-group">
            <label for="end_date" class="col-sm-2 control-label">Finaliza</label>
            <div class="col-sm-10">
                <%= date_picker_tag 'end_date', nil %>
            </div>
        </div>
        <%= hidden_field_tag :schedule_id, @schedule.id %>
        <div class="form-group pull-right">
            <div class="col-sm-offset-2 col-sm-10">
                <%= submit_tag "Agregar", class: 'btn btn-primary btn-lg' %>
            </div>
        </div>
    </fieldset>
<% end %>
<% else %>
	<div class="alert alert-warning" role="alert">
		<h3>Atenci&oacute;n</h3>
		<p>A&uacute;n no ha creado un cronograma para esta organizaci&oacute;n. <strong>¿Desea crearlo ahora?</strong>
		</p>
		<%= form_tag url_for(:controller => :schedule, :action => :create), method: 'post', class: 'form-horizontal', role: 'form' do %>
			<div class="form-group pull-right">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= submit_tag "Crear", class: 'btn btn-warning btn-lg' %>
                </div>
            </div>
		<% end %>
	</div>
<% end %>
<script id="row-template" type="text/x-handlebars-template">
  <tr>
    <td>{{label}}</td>
    <td>{{from}}</td>
    <td>{{to}}</td>
    <td>{{time}} day(s)</td>
    <td>{{description}}</td>
  </tr>
</script>