<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="center col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <div class="sindri-menu-home col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <%= image_tag "tickets.png", :alt => "", :title => "Tickets"%>
            <a class="sindri-mh-item">Tickets</a>
            
        </div>
        <div class="sindri-menu-home col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <%= image_tag "planificacion.png", :alt => "", :title => "Tickets"%>
            <a class="sindri-mh-item">Planificaci&oacute;n</a>
        </div>
        <div class="sindri-menu-home col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <%= image_tag "conocimiento.png", :alt => "", :title => "Tickets"%>
            <a class="sindri-mh-item">Base de Conocimientos</a>
        </div>
        <div class="sindri-menu-home col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <%= image_tag "reporte.png", :alt => "", :title => "Tickets"%>
            <a class="sindri-mh-item">Reportes</a>
        </div>
        <div class="sindri-menu-home col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <%= image_tag "configuracion.png", :alt => "", :title => "Tickets"%>
            <a class="sindri-mh-item">Configuraci&oacute;n</a>
        </div>
        <div class="sindri-menu-home col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <%= image_tag "acercade.png", :alt => "", :title => "Tickets"%>
            <a class="sindri-mh-item">Acerca de...</a>
        </div>
    </div>
</div>
