<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Editar Organizaci&oacute;n
            </header>
            <div class="panel-body">
                <%= render :partial => "shared/message" %>
                <%= form_tag url_for(:controller => :business, :action => :save), method: 'post', multipart: true, class: 'form-horizontal', role: 'form', id:'business_form' do %>
                    <fieldset>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <%= text_field_tag 'business[name]', @business.name, class: 'form-control', placeholder: 'Nombre' %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="picture" class="col-sm-2 control-label">Logo</label>
                            <div class="col-sm-10">
                                <img src="/logos/<%= @business.logo %>" id="preview-picture" data-file="business_picture">
                                <%= file_field_tag 'business[picture]', class: 'picture-field'%>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="business[color1]" class="col-sm-2 control-label">Color 1</label>
                            <div class="col-sm-10">
                                <%= text_field_tag 'business[color1]', @business.color1, class: 'form-control minicolors-input', placeholder: '#ffffff' %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="business[color2]" class="col-sm-2 control-label">Color 2</label>
                            <div class="col-sm-10">
                                <%= text_field_tag 'business[color2]', @business.color2, class: 'form-control minicolors-input', placeholder: '#ffffff' %>
                            </div>
                        </div>
                        <%= hidden_field_tag 'id', @business.id %>
                        <div class="form-group pull-right">
                            <div class="col-sm-10">
                                <%= submit_tag "Guardar", class: 'btn btn-primary btn-lg' %>
                            </div>
                        </div>
                    </fieldset>
                <% end %>
            </div>
        </section>
    </div>
</div>