<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Agentes
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <td>Nombre</td>
                                <td>Logo</td>
                                <td>No de Clientes</td>
                                <td>No de Agentes</td>
                                <td>Acciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% if @businesses.count == 0 %>
                            <tr>
                                <td colspan="4">No hay registros que mostrar</td>
                            </tr>
                            <% else
                                for business in @businesses %>
                                <tr>
                                    <td><%= business.name %></td>
                                    <td><img src="/logos/<%= business.logo %>"/></td>
                                    <td><%= business.clients.count %></td>
                                    <td><%= business.agents.count %></td>
                                    <td col-span="2">
                                        <div class="btn-group">
                                            <a href="<%=url_for controller: "business", action: "edit", id: business.id %>" class="btn btn-default" title="Editar" rel="tooltip"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a href="<%=url_for controller: "business", action: "delete", id: business.id %>" class="btn btn-default" title="Eliminar" rel="tooltip"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            <% end 
                            end%>
                        </tbody>
                    </table>
                </section>
                <div class="col-lg-12">
                    <% if @businesses.count > 0 %>
                    <%= pagination_tag @pagination, "business", "index" %>
                    <% end %>
                </div>
                <a href="#myModal-1" data-toggle="modal" class="btn btn-info">
                    Nueva Organizaci&oacute;n
                </a>
                <%= render :partial => "new" %>
            </div>
        </section>
    </div>
</div>


