<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Agentes
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <td>Nombre</td>
                                <td>Descripci&oacute;n</td>
                                <td>Color</td>
                                <td>Orden</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% if @states.count == 0 %>
                            <tr>
                                <td colspan="4">No hay registros que mostrar</td>
                            </tr>
                            <% else
                                for state in @states %>
                                <tr>
                                    <td><%= state.name %></td>
                                    <td><%= state.description %></td>
                                    <td><%= color_label_tag state.color %></td>
                                    <td><%= state.order %></td>
                                    <% if not state.is_suggested %>
                                    <td>
                                        <div class="btn-group">
                                            <a href="<%=url_for controller: "catalog", action: "states", id: state.id %>" class="btn btn-default" title="Editar" rel="tooltip"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a href="<%=url_for controller: "catalog", action: "delete_state", id: state.id %>" class="btn btn-default" title="Eliminar" rel="tooltip"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                    </td>
                                    <% end %>
                                </tr>
                            <% end 
                            end%>
                        </tbody>
                    </table>
                </section>
                <div class="col-lg-12">
                    <% if @states.count > 0 %>
                    <%= pagination_tag @pagination, "catalog", "states" %>
                    <% end %>
                </div>
                <a href="#myModal-1" data-toggle="modal" class="btn btn-info">
                    Nuevo Estado
                </a>
                <%= render :partial => "new_state" %>
            </div>
        </section>
    </div>
</div>