<%= render :partial => "shared/message" %>
<%= form_for :account, :url => {:action => "signin"}, :html => {:class=>'form-signin', :role=>'form'} do |f| %>
    <h2 class="form-signin-heading">Bienvenido a Sindri</h2>
    <div class="login-wrap">
        <div class="user-login-info">
            <%= f.email_field :email, :class=>'form-control', :placeholder => 'Correo Electrónico', :autofocus=>'true' %>
            <%= f.password_field :password, :class=>'form-control', :placeholder => 'Contraseña' %>
        </div>
        <!-- <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
            <span class="pull-right">
                <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

            </span>
        </label> -->
        <%= f.submit :class => 'btn btn-lg btn-login btn-block', :value => 'Entrar' %>
        <div class="registration">
            ¿A&uacute;n no tienes una cuenta?
            <%= link_to "Crear una cuenta", { controller: "account", action: "register" }, class: "" %>
        </div>

    </div>
<% end %>