<div class="center col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <%= form_tag url_for(:controller => :account, :action => :create), method: 'post', class: 'form-signin', role: 'form', id:'register-form' do %>
        <h2 class="form-signin-heading">Registrarse Ahora</h2>
        <div class="login-wrap">
            <p>Ingrese su informaci&oacute; personal</p>
            <%= text_field_tag 'agent[first_name]', nil, class: 'form-control', placeholder: 'Nombre', autofocus: 'true' %>
            <%= text_field_tag 'agent[last_name]', nil, class: 'form-control', placeholder: 'Apellido' %>

            <p> Ingrese los datos de la cuenta</p>
            <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Correo Electr칩nico' %>
            <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Contrase침a' %>
            <%= password_field_tag :confirm_password, nil, class: 'form-control', placeholder: 'Confirmar Contrase침a' %>
            <%= submit_tag 'Registrar', class: 'btn btn-lg btn-login btn-block'%>
            <div class="registration">
                Ya estoy registrado
                <%= link_to "Iniciar Sesi칩n", { controller: "account", action: "login" }, class: "" %>
            </div>

        </div>
    <% end %>
</div>