<!DOCTYPE html>
<html>
	<head>
        <title>Sindri - Helpdesk</title>
        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag    "lib/bootstrap.min", :media => "all" %>
        <%= stylesheet_link_tag    "lib/bootstrap-theme.min", :media => "all" %>
        <%= stylesheet_link_tag    "lib/bootstrap-datetimepicker.min", :media => "all" %>
        <%= stylesheet_link_tag    "lib/jquery.steps", :media => "all" %>
        <%= stylesheet_link_tag    "lib/jquery.minicolors", :media => "all" %>
        <%= stylesheet_link_tag    "lib/soueidan-sidenav", :media => "all" %>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= render :partial => "styles" %>
        <%= csrf_meta_tags %>
	</head>
	<body>
		<!-- <div class="container"> -->
			<header>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <% if @user.business_logo != nil %>
						<%= image_tag "/logos/#{@user.business_logo}", :alt => @user.business_name, :title => @user.business_name%>
                        <% end %>
						<h1>
                            <% if @user.type == 'client' %>
                                <%= @user.business_name %>
                            <% elsif @user.type == 'agent' and @businesses != nil %>
                                <div class="dropdown">
                                    <a class="dropdown-toggle sindri-business-name" type="button" id="business-name" data-toggle="dropdown" aria-expanded="true">
                                        <%= @user.business_name %>
                                        <% if @businesses.count() > 0 %>
                                            <span class="caret"></span>
                                        <% end %>
                                    </a>
                                    <%if @businesses.count() > 0%>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="business-name">
                                        <% for business in @businesses %>
                                            <li role="presentation"><%= link_to business.name, controller: "home", action: "index", id: business.id %></li>
                                        <% end %>
                                    </ul>
                                    <% end %>
                                </div>
                            <% end %>
                        </h1>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<nav class="navbar pull-right" role="navigation">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav sindri-user">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="glyphicon glyphicon-user"></i>
                                                <%= @user.full_name %> 
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <%= link_to raw("<i class='glyphicon glyphicon-user'></i>Perfil"), controller: @user.type, action: "edit", id: @user.id %>
                                                </li>
                                                <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>Cambiar Contrase&ntilde;a</a></li>
                                                <li class="divider"></li>
                                                <li>
                                                    <%= link_to raw("<i class='glyphicon glyphicon-off'></i>Cerrar Sesión"), controller: "account", action: "logout" %>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
					</div>
				</div>
			</header>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <nav class="soueidan-nav-container">
                    <ul class="soueidan-nav">
                        <li class="">
                            <a href="<%= url_for controller: "home", action: "index" %>">
                                <span class="icon-home"></span>
                                <span class="soueidan-text">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= url_for controller: "ticket", action: "index" %>">
                                <span class="icon-user"></span>
                                <span class="soueidan-text">Tickets</span>
                            </a>
                        </li>
                        <% if @user.is_in_role? 'agent' or @user.is_in_role? 'admin' %>
                        <li>
                            <a href="<%= url_for controller: "schedule", action: "index" %>">
                                <span class="icon-picture"></span>
                                <span class="soueidan-text">Planificaci&oacute;n</span>    
                            </a>
                        </li>
                        <% end %>
                        <% if @user.is_in_role? 'admin' %>
                            <li>
                                <a href="<%= url_for controller: "agent", action: "index" %>">
                                    <span class="icon-facetime-video"></span>
                                    <span class="soueidan-text">Agentes</span>
                                </a>
                            </li>
                            <li>
                                <a href="<%= url_for controller: "client", action: "index" %>">
                                    <span class="icon-facetime-video"></span>
                                    <span class="soueidan-text">Clientes</span>
                                </a>
                            </li>
                            <li>
                                <a href="<%= url_for controller: "business", action: "index" %>">
                                    <span class="icon-facetime-video"></span>
                                    <span class="soueidan-text">Organizaciones</span>
                                </a>
                            </li>
                        <% end %>
                        <% if @user.is_in_role? 'agent' or @user.is_in_role? 'admin' or @user.is_in_role? 'ticket_admin' %>
                            <li>
                                <a href="<%= url_for controller: "solution", action: "index" %>">
                                    <span class="icon-facetime-video"></span>
                                    <span class="soueidan-text">Soluciones</span>
                                </a>
                            </li>
                        <% end %>
                        <li>
                            <a href="<%= url_for controller: "report", action: "index" %>">
                                <span class="icon-facetime-video"></span>
                                <span class="soueidan-text">Reportes</span>
                            </a>
                        </li>
                        <% if @user.is_in_role? 'admin' %>
                            <li>
                                <a href="<%= url_for controller: "setting", action: "index" %>">
                                    <span class="icon-facetime-video"></span>
                                    <span class="soueidan-text">Administraci&oacute;n</span>
                                </a>
                            </li>
                        <% end %>
                        <li>
                            <a href="<%= url_for controller: "setting", action: "index" %>">
                                <span class="icon-facetime-video"></span>
                                <span class="soueidan-text">Acerca de...</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <section class="col-lg-8 col-md-8 col-sm-8 col-xs-9 ">
			    <%= yield %>
            </section>
		<!-- </div> -->
        <%= javascript_include_tag "lib/jquery.min" %>
		<%= javascript_include_tag "lib/bootstrap.min" %>
        <%= javascript_include_tag "lib/moment.min" %>
        <%= javascript_include_tag "lib/bootstrap-datetimepicker.min" %>
        <%= javascript_include_tag "lib/jquery.minicolors.min" %>
        <%= javascript_include_tag "form.ajax" %>
        <%= javascript_include_tag "common" %>
		<%= javascript_include_tag "application" %>
        <%= render :partial => "scripts" %>
	</body>
</html>
